USE [master]
GO
/****** Object:  Database [bookstore]    Script Date: 11/10/2023 9:07:43 AM ******/
CREATE DATABASE [bookstore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bookstore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\bookstore.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bookstore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\bookstore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bookstore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bookstore]
GO
/****** Object:  Table [dbo].[BookImages]    Script Date: 11/10/2023 9:07:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookImages](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[book_id] [int] NOT NULL,
	[book_img] [varbinary](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 11/10/2023 9:07:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[book_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[author] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[slug] [nvarchar](255) NOT NULL,
	[isbn] [nvarchar](20) NOT NULL,
	[price] [float] NOT NULL,
	[publish_date] [datetime] NOT NULL,
	[modified_at] [datetime] NULL,
	[category_id] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/10/2023 9:07:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[slug] [nvarchar](255) NULL,
	[created_at] [datetime] NOT NULL,
	[modified_at] [datetime] NOT NULL,
	[parent_category_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discounts]    Script Date: 11/10/2023 9:07:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discounts](
	[discount_id] [int] IDENTITY(1,1) NOT NULL,
	[book_id] [int] NULL,
	[discount_percentage] [float] NOT NULL,
	[active] [bit] NOT NULL,
	[started_date] [datetime] NOT NULL,
	[ended_date] [datetime] NOT NULL,
	[discount_code] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[discount_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 11/10/2023 9:07:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[order_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[discount_id] [int] NULL,
	[quantity] [int] NOT NULL,
	[sub_total] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11/10/2023 9:07:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[order_date] [datetime] NOT NULL,
	[order_status] [nvarchar](50) NOT NULL,
	[total_amount] [float] NULL,
	[shipping_id] [int] NOT NULL,
	[payment_method] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewImages]    Script Date: 11/10/2023 9:07:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewImages](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[review_id] [int] NOT NULL,
	[review_img] [varbinary](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 11/10/2023 9:07:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[book_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[rating] [int] NOT NULL,
	[headline] [nvarchar](255) NULL,
	[comment] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
	[verified] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipping]    Script Date: 11/10/2023 9:07:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipping](
	[shipping_id] [int] IDENTITY(1,1) NOT NULL,
	[address_id] [int] NOT NULL,
	[unit_id] [int] NOT NULL,
	[start_date] [datetime] NOT NULL,
	[expected_date] [datetime] NOT NULL,
	[end_date] [datetime] NULL,
	[delivery_status] [nvarchar](50) NOT NULL,
	[tracking_number] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[shipping_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingCart]    Script Date: 11/10/2023 9:07:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingCart](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransportUnit]    Script Date: 11/10/2023 9:07:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransportUnit](
	[unit_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[type] [nvarchar](50) NULL,
	[price] [float] NOT NULL,
	[fast_shipping] [int] NULL,
	[slow_shipping] [int] NULL,
	[created_at] [datetime] NOT NULL,
	[modified_at] [datetime] NOT NULL,
	[tracking_number] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[unit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAddress]    Script Date: 11/10/2023 9:07:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAddress](
	[address_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[street] [nvarchar](255) NOT NULL,
	[address_line1] [nvarchar](255) NOT NULL,
	[address_line2] [nvarchar](255) NOT NULL,
	[city] [nvarchar](255) NOT NULL,
	[postal_code] [nvarchar](10) NOT NULL,
	[country] [nvarchar](255) NOT NULL,
	[telephone] [nvarchar](20) NOT NULL,
	[is_primary] [bit] NULL,
	[state] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 11/10/2023 9:07:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[role] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/10/2023 9:07:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[first_name] [nvarchar](255) NOT NULL,
	[last_name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[telephone] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[modified_at] [datetime] NOT NULL,
	[is_banned] [bit] NULL,
	[avatar] [varbinary](max) NULL,
	[google_id] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouse]    Script Date: 11/10/2023 9:07:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouse](
	[warehouse_id] [int] IDENTITY(1,1) NOT NULL,
	[book_id] [int] NOT NULL,
	[quantity_in_stock] [int] NOT NULL,
	[quantity_sold] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[warehouse_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BookImages] ON 

SET IDENTITY_INSERT [dbo].[BookImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([book_id], [title], [author], [description], [slug], [isbn], [price], [publish_date], [modified_at], [category_id], [created_at]) VALUES (23, N'Quý bủ', N'Quý Đào Quỳnh Nguyễn', N'<p><strong>add</strong></p>', N'wibu', N'aaaaa', 80, CAST(N'2023-10-18T00:00:00.000' AS DateTime), CAST(N'2023-10-26T10:47:44.880' AS DateTime), 4, CAST(N'2023-10-25T23:00:41.470' AS DateTime))
INSERT [dbo].[Books] ([book_id], [title], [author], [description], [slug], [isbn], [price], [publish_date], [modified_at], [category_id], [created_at]) VALUES (30, N'Java EE 7: The Big Picture (Programming & Web Dev - OMG)  ', N'Dr. Danny Coward', N'The Definitive Guide to Java Platform, Enterprise Edition 7
Java EE 7: The Big Picture uniquely explores the entire Java EE 7 platform in an all-encompassing style while examining each tier of the platform in enough detail so that you can select the right technologies for specific project needs. In this authoritative guide, Java expert Danny Coward walks you through the code, applications, and frameworks that power the platform. Take full advantage of the robust capabilities of Java EE 7, increase your productivity, and meet enterprise demands with help from this Oracle Press resource.

Explore the features of the Java servlet model and Java servlet API
Create dynamic web content with JavaServer Pages and JavaServer Faces
Build websites for nonbrowser clients with JAX-RS
Push data to web clients using Java WebSockets
Secure web applications
Work with web component APIs
Maximize enterprise beans for multithreading, asynchronous processes, transactions, and more
Access relational databases with the Java Database Connectivity APIs and the Java Persistence API
Understand the packaging and deployment mechanisms of Java EE applications
Work with Java EE Contexts and Dependency Injection
Secure enterprise beans in a Java EE application
Enable parallel processing with Java EE concurrency APIs', N'java-ee-7-the-big-picture-programming-web-dev-omg', N'0071837345', 37.180000305175781, CAST(N'2014-10-01T00:00:00.000' AS DateTime), CAST(N'2023-10-26T09:55:07.487' AS DateTime), 23, CAST(N'2023-10-26T09:51:14.567' AS DateTime))
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([category_id], [name], [slug], [created_at], [modified_at], [parent_category_id]) VALUES (3, N'Test', N'test', CAST(N'2023-10-23T19:53:14.910' AS DateTime), CAST(N'2023-10-26T09:20:11.333' AS DateTime), NULL)
INSERT [dbo].[Categories] ([category_id], [name], [slug], [created_at], [modified_at], [parent_category_id]) VALUES (4, N'Romance', N'romance', CAST(N'2023-10-24T00:18:44.980' AS DateTime), CAST(N'2023-10-24T00:18:44.980' AS DateTime), NULL)
INSERT [dbo].[Categories] ([category_id], [name], [slug], [created_at], [modified_at], [parent_category_id]) VALUES (23, N'Programing', N'programing', CAST(N'2023-10-26T07:04:02.910' AS DateTime), CAST(N'2023-10-26T07:04:02.910' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([order_detail_id], [order_id], [book_id], [discount_id], [quantity], [sub_total]) VALUES (90, 98, 30, NULL, 7, 260.260009765625)
INSERT [dbo].[OrderDetails] ([order_detail_id], [order_id], [book_id], [discount_id], [quantity], [sub_total]) VALUES (91, 99, 30, NULL, 7, 260.260009765625)
INSERT [dbo].[OrderDetails] ([order_detail_id], [order_id], [book_id], [discount_id], [quantity], [sub_total]) VALUES (92, 100, 32, NULL, 2, 54.659999847412109)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([order_id], [user_id], [order_date], [order_status], [total_amount], [shipping_id], [payment_method]) VALUES (1, 4, CAST(N'2023-11-03T01:29:54.887' AS DateTime), N'Ԁt瀇湥楤杮', 260.260009765625, 10, N'Cash On Delivery')
INSERT [dbo].[Orders] ([order_id], [user_id], [order_date], [order_status], [total_amount], [shipping_id], [payment_method]) VALUES (2, 4, CAST(N'2023-11-03T08:55:49.543' AS DateTime), N'pending', 484.23001098632812, 11, N'Cash On Delivery')
INSERT [dbo].[Orders] ([order_id], [user_id], [order_date], [order_status], [total_amount], [shipping_id], [payment_method]) VALUES (3, 4, CAST(N'2023-11-03T11:50:17.773' AS DateTime), N'pending', 169.95001220703125, 12, N'Cash On Delivery')
GO
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([review_id], [book_id], [user_id], [rating], [headline], [comment], [created_at], [updated_at], [verified]) VALUES (2, 23, 2, 4, N'Great Book Ever', N'This book is amazing. I highly recommend it! Good', CAST(N'2023-10-26T14:30:00.000' AS DateTime), CAST(N'2023-10-26T14:30:00.000' AS DateTime), 1)
INSERT [dbo].[Reviews] ([review_id], [book_id], [user_id], [rating], [headline], [comment], [created_at], [updated_at], [verified]) VALUES (3, 26, 2, 4, N'Great book', N'I really enjoyed reading this book. Highly recommended!', CAST(N'2023-10-28T09:00:00.000' AS DateTime), CAST(N'2023-10-28T09:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipping] ON 

INSERT [dbo].[Shipping] ([shipping_id], [address_id], [unit_id], [start_date], [expected_date], [end_date], [delivery_status], [tracking_number]) VALUES (1, 5, 1, CAST(N'2023-11-03T00:47:52.523' AS DateTime), CAST(N'2023-11-03T00:47:52.523' AS DateTime), NULL, N'pending', N'TN202311030047525461')
INSERT [dbo].[Shipping] ([shipping_id], [address_id], [unit_id], [start_date], [expected_date], [end_date], [delivery_status], [tracking_number]) VALUES (2, 5, 1, CAST(N'2023-11-03T00:50:16.127' AS DateTime), CAST(N'2023-11-03T00:50:16.127' AS DateTime), NULL, N'pending', N'TN202311030050168206')
INSERT [dbo].[Shipping] ([shipping_id], [address_id], [unit_id], [start_date], [expected_date], [end_date], [delivery_status], [tracking_number]) VALUES (3, 5, 1, CAST(N'2023-11-03T01:08:17.237' AS DateTime), CAST(N'2023-11-03T01:08:17.237' AS DateTime), NULL, N'pending', N'TN202311030108174692')
GO
SET IDENTITY_INSERT [dbo].[Shipping] OFF
GO
SET IDENTITY_INSERT [dbo].[ShoppingCart] ON 

INSERT [dbo].[ShoppingCart] ([cart_id], [user_id], [book_id], [quantity], [created_at], [updated_at]) VALUES (52, 2, 32, 3, CAST(N'2023-11-01T17:09:55.160' AS DateTime), CAST(N'2023-11-01T17:09:55.160' AS DateTime))
INSERT [dbo].[ShoppingCart] ([cart_id], [user_id], [book_id], [quantity], [created_at], [updated_at]) VALUES (55, 4, 32, 2, CAST(N'2023-11-01T21:06:18.347' AS DateTime), CAST(N'2023-11-06T01:39:35.247' AS DateTime))
INSERT [dbo].[ShoppingCart] ([cart_id], [user_id], [book_id], [quantity], [created_at], [updated_at]) VALUES (56, 4, 28, 1, CAST(N'2023-11-01T21:08:01.530' AS DateTime), CAST(N'2023-11-03T11:59:08.737' AS DateTime))
SET IDENTITY_INSERT [dbo].[ShoppingCart] OFF
GO
SET IDENTITY_INSERT [dbo].[TransportUnit] ON 

INSERT [dbo].[TransportUnit] ([unit_id], [name], [type], [price], [fast_shipping], [slow_shipping], [created_at], [modified_at], [tracking_number]) VALUES (1, N'Giao Hàng Tiết Kiệm', N'Express', 29.99, 1, 0, CAST(N'2023-11-02T09:00:00.000' AS DateTime), CAST(N'2023-11-02T09:00:00.000' AS DateTime), N'TRK12345')
INSERT [dbo].[TransportUnit] ([unit_id], [name], [type], [price], [fast_shipping], [slow_shipping], [created_at], [modified_at], [tracking_number]) VALUES (2, N'Vietnam Post', N'Standard', 19.99, 0, 1, CAST(N'2023-11-02T10:00:00.000' AS DateTime), CAST(N'2023-11-02T10:00:00.000' AS DateTime), N'TRK67890')
INSERT [dbo].[TransportUnit] ([unit_id], [name], [type], [price], [fast_shipping], [slow_shipping], [created_at], [modified_at], [tracking_number]) VALUES (3, N'Viettel Post', N'Express', 34.99, 1, 0, CAST(N'2023-11-02T11:00:00.000' AS DateTime), CAST(N'2023-11-02T11:00:00.000' AS DateTime), N'TRK54321')
SET IDENTITY_INSERT [dbo].[TransportUnit] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAddress] ON 

INSERT [dbo].[UserAddress] ([address_id], [user_id], [street], [address_line1], [address_line2], [city], [postal_code], [country], [telephone], [is_primary], [state]) VALUES (3, 2, N'123 Main St', N'Suite 456', N'', N'Cityville', N'12345', N'Countryland', N'555-123-4567', 1, N'California')
INSERT [dbo].[UserAddress] ([address_id], [user_id], [street], [address_line1], [address_line2], [city], [postal_code], [country], [telephone], [is_primary], [state]) VALUES (4, 4, N'456 Elm St', N'Unit 789', N'', N'Townsville', N'54321', N'Otherland', N'555-987-6543', 0, N'New York')
INSERT [dbo].[UserAddress] ([address_id], [user_id], [street], [address_line1], [address_line2], [city], [postal_code], [country], [telephone], [is_primary], [state]) VALUES (5, 4, N'Townsville', N'Unit 789', N'Unit 789', N'Townsville', N'54321', N'AF', N'5252678', 1, N'New York')
SET IDENTITY_INSERT [dbo].[UserAddress] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([role_id], [user_id], [role]) VALUES (2, 3, N'customer')
INSERT [dbo].[UserRoles] ([role_id], [user_id], [role]) VALUES (3, 4, N'customer')
INSERT [dbo].[UserRoles] ([role_id], [user_id], [role]) VALUES (5, 6, N'admin')
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [username], [password], [first_name], [last_name], [email], [telephone], [created_at], [modified_at], [is_banned], [avatar], [google_id]) VALUES (2, N'user4', N'123', N'Tester', N'test4', N'tester4@java.code', N'022023', CAST(N'2023-10-25T10:08:37.770' AS DateTime), CAST(N'2023-10-26T16:49:42.993' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[Users] ([user_id], [username], [password], [first_name], [last_name], [email], [telephone], [created_at], [modified_at], [is_banned], [avatar], [google_id]) VALUES (3, N'user2', N'123', N'tester', N'user2 ', N'tester2@java.code', N'52522324', CAST(N'2023-10-25T10:47:22.290' AS DateTime), CAST(N'2023-10-26T16:49:39.737' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[Users] ([user_id], [username], [password], [first_name], [last_name], [email], [telephone], [created_at], [modified_at], [is_banned], [avatar], [google_id]) VALUES (4, N'user3', N'123', N'Tester', N'user3', N'tester3@java.code', N'5252678', CAST(N'2023-10-25T11:07:26.160' AS DateTime), CAST(N'2023-10-26T11:18:42.387' AS DateTime), 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Warehouse] ON 

INSERT [dbo].[Warehouse] ([warehouse_id], [book_id], [quantity_in_stock], [quantity_sold]) VALUES (1, 26, 100, 125)
INSERT [dbo].[Warehouse] ([warehouse_id], [book_id], [quantity_in_stock], [quantity_sold]) VALUES (2, 28, 50, 136)
INSERT [dbo].[Warehouse] ([warehouse_id], [book_id], [quantity_in_stock], [quantity_sold]) VALUES (3, 29, 75, 30)
SET IDENTITY_INSERT [dbo].[Warehouse] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__32DD1E4C1CCF3F15]    Script Date: 11/10/2023 9:07:44 AM ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Discount__490D1AE0FBCAFEA1]    Script Date: 11/10/2023 9:07:44 AM ******/
ALTER TABLE [dbo].[Discounts] ADD UNIQUE NONCLUSTERED 
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Shipping__B2C338B7B5214F3E]    Script Date: 11/10/2023 9:07:44 AM ******/
ALTER TABLE [dbo].[Shipping] ADD UNIQUE NONCLUSTERED 
(
	[tracking_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Transpor__B2C338B793CB871E]    Script Date: 11/10/2023 9:07:44 AM ******/
ALTER TABLE [dbo].[TransportUnit] ADD UNIQUE NONCLUSTERED 
(
	[tracking_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__61AE339B13819CF3]    Script Date: 11/10/2023 9:07:44 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[telephone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E61640E2A70A6]    Script Date: 11/10/2023 9:07:44 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__F3DBC57221E5AE76]    Script Date: 11/10/2023 9:07:44 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserAddress] ADD  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [is_banned]
GO
ALTER TABLE [dbo].[BookImages]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Categories] ([category_id])
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD FOREIGN KEY([parent_category_id])
REFERENCES [dbo].[Categories] ([category_id])
GO
ALTER TABLE [dbo].[Discounts]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([discount_id])
REFERENCES [dbo].[Discounts] ([discount_id])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([shipping_id])
REFERENCES [dbo].[Shipping] ([shipping_id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[ReviewImages]  WITH CHECK ADD FOREIGN KEY([review_id])
REFERENCES [dbo].[Reviews] ([review_id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Shipping]  WITH CHECK ADD FOREIGN KEY([address_id])
REFERENCES [dbo].[UserAddress] ([address_id])
GO
ALTER TABLE [dbo].[Shipping]  WITH CHECK ADD FOREIGN KEY([unit_id])
REFERENCES [dbo].[TransportUnit] ([unit_id])
GO
ALTER TABLE [dbo].[ShoppingCart]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
GO
ALTER TABLE [dbo].[ShoppingCart]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[UserAddress]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Warehouse]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
GO
USE [master]
GO
